.form-class{
  background-color: white;
  padding-right: 10%;
  padding-left: 25%;
  width: 50%;
}
.form-field{
  width: 100%;
}

.heading{
  text-align: center;
  padding-top: 2%;
  font-weight: lighter;
}

.btn{
  width: 100%;
}
