.form-class{
  padding-left: 30%;
  padding-right: 30%;
}
.form-field{
  width: 100%;
}
.divider{
  margin-left: 5%;
  margin-right: 5%;
}
.heading{
  text-align: center;
  font-weight: lighter;
  padding-bottom: 3%;
}
.float-container {
  padding-right:10% ;
}

.float-child {
  padding-top: 8%;
  width: 90%;
  float: left;
}
.float-image {
  padding-top: 18%;
  width: 10%;
  float: left;
}

.img-logo{
  width: 20%;
  height: 15%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.btn{
  width: 100%;
}

.signupbtn{
  padding-top: 3%;
  font-weight: lighter;
}
