.form-class{
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10%;
}
.form-field{
  width: 100%;
}
.divider{
  margin-left: 5%;
  margin-right: 5%;
}
.heading{
  text-align: center;
  font-weight: lighter;
}
.float-container {
  text-align: center;
  padding-right:10% ;
  padding-left: 10%;
}

.img-logo{
  width: 20%;
  height: 15%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.btn{
  width: 100%;
}

.signupbtn{
  padding-top: 3%;
  font-weight: lighter;
}
