<div align="center">
  <img class="img-logo" src="assets/logo.png">
</div>
<mat-divider class="divider"></mat-divider>
<div class="float-container">
  <div class="float-image">
    <img src="assets/pic3.png">
  </div>
  <div class="float-child">
    <form class="form-class" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <h1 class="heading">Login</h1>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password Required
        </mat-error>
      </mat-form-field>
      <div align="center">
        <button class="btn" mat-raised-button color="primary">Login</button>
      </div>
      <div class="signupbtn" align="center">
        <a routerLink="/register">Sign up instead?</a>
      </div>
    </form>
  </div>
</div>



